* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --mm-Btns: #0D1E3A;
    --universal-white: #ffffff;
    --character-Btn: #37D9A5;
    --decision: #74E5FF;
    --overlay: #445A79;
    --confirm: #3ABEFF;
    --deny: #FD5757;
}

html, body {
    height: 100%;
}

#app {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
    background-image: url(/images/background.png);
    background-repeat: no-repeat;
    background-size: cover;
}

#profile-Picture{
    border-radius:10000px;
    width:12%;
}

.screen {
    display: none;
}

.screen.active {
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: center;
}


#main-Menu {
    justify-content: center;
    align-items: center;
}

#main-Menu-Btns {
    display: flex;
    flex-direction: column;
    height: 35vh;
    width: 33vw;
    justify-content: space-around;
}

.mm-Btns {
    font-family: "Orbitron", sans-serif;
    font-style: normal;
    background-color: var(--mm-Btns);
    color: var(--universal-white);
    cursor: pointer;
    border: none;
    height: 9vh;
    width: 100%;
    border-radius:25px;
    font-size:25px;
}


#profile-section {
    display: flex;
    flex-direction: row;
    

}

.gender-Btns {
    cursor: pointer;
    border-radius: 3.25rem;
}

.characters {
    height: 10vh;
    
}

img [src="/images/jessie-female.png"]{
    transform: rotateY('180deg');
}


#Rei > img {
    height: 20vh;
    width: 15vw;
}